<ion-tabs>

  <ion-tab-bar slot="Home">
    <ion-tab-button tab="Home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="People">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>People</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Confrence">
      <ion-icon name="contract"></ion-icon>
      <ion-label>Confrence</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="Building">
      <ion-icon name="business"></ion-icon>
      <ion-label>Building</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="More">
      <ion-icon name="more"></ion-icon>
      <ion-label>More</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
