<ion-content>
    <div style="padding: 20px!important;">
        <ion-header style="background-color:#E6E6E6; margin-top: 68px;">
            <ion-title><h6>Event Details </h6></ion-title>
        </ion-header>
        <ion-row>
            <ion-col>
                <h6>
                    Project meeting Name 3
                </h6>
                <p>Webex/Bostone</p>
            </ion-col>
        </ion-row>
        <ion-row style="border-bottom: grey solid 1px;">
            <ion-col size="12">
                <p>Tue, Aug, 12, 2018</p>
                <p>From 12:00 PM to 12:30 PM</p>
            </ion-col>
        </ion-row>
        
        <h3 style="margin: 0px;">Organiser</h3>
        <ion-row>
            <ion-col size="2">
                <img src="/assets/maxresdefault.png" style="border-radius: 50%;height: 80px;width: 150px; border: 3px rgb(19, 116, 243) solid">
            </ion-col>
            <ion-col size="4">
                <h6>Angelia</h6>
                <p>Management Team</p>
            </ion-col>            
        </ion-row>
        <ion-row>
            <ion-col size="4">name 1</ion-col>
            <ion-col size="4">name 2</ion-col>
            <ion-col size="4">name 3</ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="4">name 1</ion-col>
            <ion-col size="4">name 2</ion-col>
            <ion-col size="4">name 3</ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="4">name 1</ion-col>
            <ion-col size="4">name 2</ion-col>
            <ion-col size="4">name 3</ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="4">name 1</ion-col>
            <ion-col size="4">name 2</ion-col>
            <ion-col size="4">name 3</ion-col>
        </ion-row>
        <ion-row style="border-bottom: grey solid 1px;">
            <ion-col size="4">name 1</ion-col>
            <ion-col size="4">name 2</ion-col>
            <ion-col size="4">name 3</ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <h6>Notes</h6>
                <p style="color: rgb(26, 151, 223);">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
                    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            </ion-col>
        </ion-row>
    </div>
</ion-content>