<ion-content>
  <ion-card class="welcome-card" style="margin-top:60px ;">
    <ion-card-content>
      <p>Quick Find : Near By <span style="color: orange;">Resourses</span> at <span style="color:orange">Cessna
          Campus</span> </p>
      <div style=" overflow-x: auto;white-space: nowrap;">
        <circle-progress [percent]="85" [radius]="30" [outerStrokeWidth]="4" [innerStrokeWidth]="8"
          [outerStrokeColor]="'orange'" [innerStrokeColor]="''" [animation]="true" [animationDuration]="300">
        </circle-progress>
        <circle-progress [percent]="65" [radius]="30" [outerStrokeWidth]="4" [innerStrokeWidth]="8"
          [outerStrokeColor]="'orange'" [innerStrokeColor]="''" [animation]="true" [animationDuration]="300">
        </circle-progress>
        <circle-progress [percent]="35" [radius]="30" [outerStrokeWidth]="4" [innerStrokeWidth]="8"
          [outerStrokeColor]="'orange'" [innerStrokeColor]="''" [animation]="true" [animationDuration]="300">
        </circle-progress>
        <circle-progress [percent]="25" [radius]="30" [outerStrokeWidth]="4" [innerStrokeWidth]="8"
          [outerStrokeColor]="'orange'" [innerStrokeColor]="''" [animation]="true" [animationDuration]="300">
        </circle-progress>
        <circle-progress [percent]="55" [radius]="30" [outerStrokeWidth]="4" [innerStrokeWidth]="8"
          [outerStrokeColor]="'orange'" [innerStrokeColor]="''" [animation]="true" [animationDuration]="300">
        </circle-progress>
        <circle-progress [percent]="65" [radius]="30" [outerStrokeWidth]="4" [innerStrokeWidth]="8"
          [outerStrokeColor]="'orange'" [innerStrokeColor]="''" [animation]="true" [animationDuration]="300">
        </circle-progress>
        <circle-progress [percent]="75" [radius]="30" [outerStrokeWidth]="4" [innerStrokeWidth]="8"
          [outerStrokeColor]="'orange'" [innerStrokeColor]="''" [animation]="true" [animationDuration]="300">
        </circle-progress>
        <circle-progress [percent]="75" [radius]="30" [outerStrokeWidth]="4" [innerStrokeWidth]="8"
          [outerStrokeColor]="'orange'" [innerStrokeColor]="''" [animation]="true" [animationDuration]="300">
        </circle-progress>
      </div>
      <ion-header style="background-color:#E6E6E6; padding:10px">
        <ion-title>My Meetings</ion-title>
      </ion-header>
      <div style="background-color: #CEE3F6; text-align: center;">
        All day event Name
      </div>
      <ion-row style="border-bottom: rgb(170, 167, 167) solid 1px; padding: 5px;">
        <ion-col size="2">
            <circle-progress [percent]="25" [radius]="30" [outerStrokeWidth]="4" [innerStrokeWidth]="2"
            [outerStrokeColor]="'green'" [innerStrokeColor]="'green'" [animation]="true" [animationDuration]="300">
          </circle-progress>
        </ion-col>
        <ion-col size="3" style="border-right: rgb(5, 143, 16) 3px solid;  padding: 10px;">
            <p style="font-weight: bold;">10:00 AM </p>
            <p style="font-weight: bold;">12:00 AM </p>
        </ion-col>
        <ion-col size="3">
            <ion-thumbnail slot="start" style="position: absolute;  padding: 10px;"> 
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
              </ion-thumbnail>
        </ion-col>
        <ion-col size="2">test4</ion-col>
        <ion-col size="2">test5</ion-col>
      </ion-row>
      
    </ion-card-content>
  </ion-card>
</ion-content>