<ion-content class="ion-padding-top">
    <div class="conference">
        <ion-toolbar color="light">
            <ion-buttons slot="end">
                <ion-button>
                    <ion-icon slot="icon-only" name="search" color="medium"></ion-icon>
                </ion-button>
            </ion-buttons>
            <ion-title>Book Conference Room</ion-title>
        </ion-toolbar>
        <div *ngIf="divChangeVal">
            <div class="topLinks">
                <p (click)=divChange()>Based on Location</p>
                <p href="" (click)=divChange()>Based on Invitees</p>
            </div>
            <ion-segment color="secondary">
                <ion-segment-button>
                    <ion-label>Available</ion-label>
                </ion-segment-button>
                <ion-segment-button>
                    <ion-label>All</ion-label>
                </ion-segment-button>
            </ion-segment>

            <div class="date-box">
                <ion-icon name="calendar"></ion-icon>
                <span>10:30<ion-icon name="remove"></ion-icon>11:30</span> <span> 1 Hour</span>
                <ion-icon name="time" color="secondary"></ion-icon>
            </div>

            <div class="searchRow">
                <span>Building 1</span>
                <ion-searchbar placeholder="search conference room"></ion-searchbar>
                <ion-icon name="sync"></ion-icon>
                <ion-icon name="funnel"></ion-icon>
            </div>


            <div class="list-content">
                <ion-icon name="add-circle"></ion-icon> <span class="city"><b>Tokyo</b> <br>
                    <small>Public</small></span>
                <span class="floor">1st
                    Floor</span> <span class="available">Available All Day</span>
            </div>
            <div class="list-content">
                <ion-icon name="add-circle"></ion-icon> <span class="city"><b>Tokyo</b> <br>
                    <small>Public</small></span>
                <span class="floor">1st
                    Floor</span> <span class="available">Available All Day</span>
            </div>
            <div class="list-content">
                <ion-icon name="add-circle"></ion-icon> <span class="city"><b>Tokyo</b> <br>
                    <small>Public</small></span>
                <span class="floor">1st
                    Floor</span> <span class="available">Available All Day</span>
            </div>
            <div class="list-content">
                <ion-icon name="add-circle"></ion-icon> <span class="city"><b>Tokyo</b> <br>
                    <small>Public</small></span>
                <span class="floor">1st
                    Floor</span> <span class="available">Available All Day</span>
            </div>
            <div class="list-content">
                <ion-icon name="add-circle"></ion-icon> <span class="city"><b>Tokyo</b> <br>
                    <small>Public</small></span>
                <span class="floor">1st
                    Floor</span> <span class="available">Available All Day</span>
            </div>
            <div class="list-content">
                <ion-icon name="add-circle"></ion-icon> <span class="city"><b>Tokyo</b> <br>
                    <small>Public</small></span>
                <span class="floor">1st
                    Floor</span> <span class="available">Available All Day</span>
            </div>

        </div>
        <div *ngIf="!divChangeVal">

                <div class="topLinks">
                        <p (click)=divChange()>Based on Location</p>
                        <p href="" (click)=divChange()>Based on Invitees</p>
                </div>


            <div class="date-box ion-padding-top">
                <ion-icon name="calendar"></ion-icon>
                <span>10:30<ion-icon name="remove"></ion-icon>11:30</span> <span> 1 Hour</span>
                <ion-icon name="time" color="secondary"></ion-icon>
            </div>

            <div class="form-group">
                <div>Invitees</div>
                <div><input type="text" placeholder="Add Invitees">
                    <ion-icon name="add"></ion-icon>
                </div>
            </div>

            <div class="form-group">
                <div>Title</div>
                <div><input type="text">
                </div>
            </div>

            <div class="time-line">
                <div class="time-line-content">
                    <div><small>selected</small></div>
                    <div>
                        <span>9</span>
                        <span>4</span>
                    </div>

                    <div>
                        <span>Invitees</span>
                        <span>Rooms</span>
                    </div>
                </div>
                <div class="middle-line"></div>
                <div class="time-line-content">
                    <div><small>selected</small></div>
                    <div>
                        <span>9</span>
                        <span>4</span>
                    </div>

                    <div>
                        <span>Invitees</span>
                        <span>Rooms</span>
                    </div>
                </div>
            </div>

            <div class="expand">
                <ion-icon name="sync" color="secondary"></ion-icon> <span>
                    <ion-icon color="medium" name="add-circle"></ion-icon>
                    <div>Expand All</div>
                </span>
            </div>

            <div class="building">
                <div>
                    Building 1
                </div>
                <div>
                    <span>2 conference rooms found</span>
                    <ion-icon name="arrow-down"></ion-icon>
                </div>
                <ion-icon name="close"></ion-icon>
            </div>
            <div class="building">
                <div>
                    Building 1
                </div>
                <div>
                    <span>2 conference rooms found</span>
                    <ion-icon name="arrow-down"></ion-icon>
                </div>
                <ion-icon name="close"></ion-icon>
            </div>
            <div class="building">
                <div>
                    Building 1
                </div>
                <div>
                    <span>2 conference rooms found</span>
                    <ion-icon name="arrow-down"></ion-icon>
                </div>
                <ion-icon name="close"></ion-icon>
            </div>
            <div class="building">
                <div>
                    Building 1
                </div>
                <div>
                    <span>2 conference rooms found</span>
                    <ion-icon name="arrow-down"></ion-icon>
                </div>
                <ion-icon name="close"></ion-icon>
            </div>
            <div class="building">
                <div>
                    Building 1
                </div>
                <div>
                    <span>2 conference rooms found</span>
                    <ion-icon name="arrow-down"></ion-icon>
                </div>
                <ion-icon name="close"></ion-icon>
            </div>
            <div class="book">

                <button>Book</button>
            </div>
        </div>


    </div>
</ion-content>