<ion-header>
  <ion-toolbar>
    <ion-title>
        <ion-grid>
            <ion-row>
              <ion-col size="2" style="text-align: center;">
                <div>
                    <img src="../assets/icon/user_man_male_profile_account-512.png" 
                    style="height: 40px; border: 1px solid black; border-radius: 50%;">
                </div>
              </ion-col>
              <ion-col >
                <div >                    
                  <p style="font-size: 11px; font-weight: bold; padding: 0px; margin:0px">John</p>
                  <p style="font-size: 10px; font-weight: bold; color:slateblue; padding: 0px; margin:0px"><ion-icon name="navigate"></ion-icon>BGL 11-12-2334</p>                      
                </div>
              </ion-col>              
            </ion-row>
          </ion-grid>
    </ion-title>
  </ion-toolbar>  
</ion-header>
<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
